body{
    background-color: #fdfdfd;
    font-family: 'Arial', sans-serif;
} 

.navbar{
    background: #FFDF99;
    height: 100px;
    
}

.navbar-brand{
    position: absolute;
    left: 50%;
    bottom: 40%;
    
}


.pesquisar{
    position:absolute;
    top: 55%;
    left: 20%;
    border-radius: 50px;
    width: 800px;
    height: 30px;

}

.butDiv{
    position:absolute;
    left: 435px;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:bold;
    font-size: medium;
    color: #5C4036;
    margin: 10px;

    width: 200px;
    height: 35px;
    margin: 35Px;
    border-radius: 50px;
    background-color:#fcfcd0;
    border-color:#5C4036;
    border-width: 2px;
    
    cursor: pointer;
    
}

.ulTxt{
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:bolder;
    font-size: 20px;
    color: #E07B39;
    position:absolute;
    left: 480px; 
    top: 30%;   
}


.collapse{
    background: #fdfdfd;
    height: 100px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;

    position:absolute;
    top: 40%; 
    left: 10%;  

}

.card{ 
    background:#fcfcd0;

}

.cardImg{
    width: 450px;
    height: 160px;
    


}

.rounded-circle{
    position:absolute;
    top: 30px;
    left: 35px;

    width: 120Px;
    height: 120px;

    
    
}

.titulo{
    position: relative;
    top: 20px;
    left: 175px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20Px;
    font-style: normal;
    font-weight: bold;
    color: #5C4036;
}

.info{
    position: relative;
    top: 30px;
    left: 155px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17Px;
    font-style: normal;
    font-weight:300;
    color: #E07B39;
}