
body {
    background-color: #FAF7F4;
    font-family: 'Arial', sans-serif;
 }
 
 
 h1 {
    color: #5C4036;
    font-size: 2rem;
 }
 
 
 .text-primary {
    color: #5C4036 !important;
 
 
 }
 
 
 .text-secondary {
    color: #7A6462 !important;
 }
 
 
 .btn-warning {
    background-color: #FFDF99;
    border: none;
    transition: background-color 0.3s ease;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 50px;
 }
 
 
 .btn-warning:hover {
    background-color: #F3CF85;
 }
 
 
 .form-control {
    height: 50px;
    padding: 10px 20px;
    font-size: 1rem; /* Tamanho da fonte */
    border-radius: 25px;
    border: 1px solid #ccc;
 }
 
 
 .form-control:focus {
    border-color: #FFDF99;
    box-shadow: 0 0 5px rgba(255, 223, 153, 0.5);
 }
 
 
 img {
    object-fit: cover;
 }
 
 
 .logo {
    width: 200px;
    height: 200px;
 }
 
 
 